@use 'mixin' as mx;

body {
    .header {
        .nav {
            justify-content: space-evenly;
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .nav__hambuergerMenu {
                    display: flex;
                    flex-direction: column;
                    min-width: 30px;
                    height: 30px;
                    border: 1px solid #333;
                    padding: 4px;
                    cursor: pointer;
                    .nav__hambuergerLine {
                        width: 100%;
                        border-bottom: 2px solid #333;
                        margin-bottom: 5px;
                    }
                }
            }
            &__list {
                display: flex;
                list-style-type: none;
                background-color: #1b2538;
                transition: all 0.5s;
                .nav__listItem {
                    a {
                        display: block;
                        padding: 14px 16px;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    @include mx.mq(mx.$sm) {
        .header {
            .nav {
                display: block;
                &__list {
                    display: none;
                }
                .navOpen {
                    display: block;
                }
            }
        }
    }
    @include mx.mq(mx.$md) {
        .header {
            .nav {
                display: flex;
                &__wrapper {
                    .nav__hambuergerMenu {
                        display: none;
                    }
                }
                &__list {
                    display: flex;
                }
                .navOpen {
                    display: flex;
                }
            }
        }
    }
}
